{:lint-as {shan.managers/with-package-manager clojure.core/let
           shan.macros/with-test-env clojure.core/let}
 :hooks {:analyze-call {shan.parser/let-with-handlers script/let-with-handlers}}}
